.form-center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 91vh;
    background-color: #b0bfd4;
    padding: 16px;
    box-sizing: border-box;
    padding-top: 20px; /* Even higher position */
}

.login-form-container {
    background: #0d6eaf;
    padding: 24px;
    border-radius: 8px;
    
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    margin-top: 20px; /* Reduced margin to keep it high */
}
