<div>
    <nz-header class="main-header" nz-row="flex">
        <div>
            <a routerLink="/login">Restaurant Management</a>
        </div>
        <div class="nav-links">
            <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">
                Login
            </a>

            <a nz-button nzType="default" routerLink="/signup" routerLinkActive="active">
                Sign Up
            </a>
        </div>
    </nz-header>
</div>


<router-outlet></router-outlet>